<div class="signUp text-center">
  <div class="greeting">
    <h1>Sign in</h1>
    <h6>Log in and start honing your skills here</h6>
  </div>

  <form action="/login" method="POST" class="form-post">
    <div class="boxSignin">
      <% if (successMessage) { %>
      <div class="alert alert-success" role="alert"><%- successMessage %></div>
      <% } %>
      <div class="form-error"></div>
      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
          name="username"
        />
        <label for="username">Username or e-mail</label>
      </div>

      <div class="form-floating mt-2">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          name="password"
        />
        <label for="password">Password</label>
      </div>

      <div class="tncCheck">
        <input
          type="checkbox"
          class="form-check-input"
          id="remember"
          name="remember"
        />
        <label class="form-check-label" for="remember">Remember me </label>
      </div>
      <button class="submit btn btn-secondary" style="width: 100%">
        Sign up
      </button>
    </div>
  </form>

  <div class="forgetPw">
    <p>
      <a class="link-opacity-50-hover" href="/recovery"
        >Forgot your password?</a
      >
    </p>
  </div>
  <hr class="line" />
  <div class="SignIn">
    <p>
      Not have an account?
      <a class="link-opacity-50-hover" href="/register">Sign up</a>
    </p>
  </div>
</div>
