<div class="container" style="padding-bottom: 110px">
  <div class="row">
    <div
      class="col-md-6 offset-md-3 p-5"
      style="background-color: rgb(255, 255, 255); border-radius: 30px"
    >
      <h1 class="text-center p-4">Forgot Password</h1>
      <form action="/recovery" method="POST" class="form-post mt-3">
        <div class="mb-3">
          <div class="kotak">
            <input
              type="email"
              class="form-control rounded-0 border-dark"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="mb-3"></div>
        <div class="tombol">
          <button
            type="submit"
            class="btn btn-primary w-100 btn-rounded my-3"
            style="
              background-color: #7c857e;
              border-color: black;
              box-shadow: inset;
            "
          >
            Reset password
          </button>
        </div>
        <div class="SignIn text-center">
          <p>
            Not have an account?
            <a class="link-opacity-50-hover" href="/register">Sign up</a>
          </p>
        </div>
        <div class="line">
          <div class="border-top border-dark border-2"></div>
        </div>
        <div class="SignIn text-center">
          <p>
            Already have an account?
            <a class="link-opacity-50-hover" href="/login">Sign in</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
