.content {
  width: 80%;
}

#course {
  min-height: 100vh;
  padding: 7rem 3rem 3rem 3rem;
}

#course a > .row {
  background-color: #fff;
  margin: 25px 0;
}

#course a > .row .course-preview {
  width: 20rem;
  background-position: center;
  background-size: cover;
}

#course a > .row {
  transition: 0.3s;
}

#course a > .row:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}
