#faq {
  min-height: 100vh;
}

:is(#faq, #cart) header {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #0f1c12;
}

#faq .search {
  width: 80%;
}

#faq .search input {
  background-color: #e0e0e0;
}

#faq .search img {
  left: 15px;
  top: 5px;
}

#faq main {
  background-color: #e0e0e0;
}

#faq .card .card-img-top {
  height: 200px;
  background-position: center;
  background-size: cover;
}

#cart {
  min-height: 100vh;
  background-color: #e0e0e0;
}

#cart header {
  padding-bottom: 2rem;
}

#cart .cart-list > .row {
  background-color: #fff;
  margin: 25px 50px;
  min-height: 130px;
}

#cart .cart-list > .row .course-preview {
  width: 20rem;
  background-position: center;
  background-size: cover;
}

#cart .cart-action button {
  color: #354338;
}

#cart .cart-action button:hover,
#cart .cart-action button:active {
  font-weight: bold;
}

#cart .price-total {
  margin: 50px 50px 0 50px;
}

#cart .price-total h6 {
  color: #717a73;
}

#cart .price-total h2 {
  color: #354338;
}

#cart .checkout-btn {
  background-color: #354338;
  box-shadow: 0 0.125rem 0.25rem #1e1e1e;
  width: 8rem;
  font-size: 24px;
}

#cart .checkout-btn:hover {
  background-color: #2c382f;
  box-shadow: 0 0.125rem 0.25rem #141414;
}

#cart .checkout-btn:active {
  background-color: #232c25 !important;
  box-shadow: 0 0.125rem 0.25rem #0e0e0e !important;
  border: 1px solid #1e1e1e !important;
}
