<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <div>
      <div class="container text-left">
        <div class="row">
          <div class="col">
            <nav class="navbar bg-body-tertiary" style="max-width: 300px;">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button">All</button>
            <button class="btn btn-outline-success me-2" type="button">My Courses</button>
            <button class="btn btn-outline-success me-2" type="button">Wishlist</button>
          </div>
          <div class="col" style="margin-left: 650px;">
            <form class="d-flex" role="search" >
              <input class="form-control me-2" type="search" placeholder="Sort by" aria-label="Sort by" style="max-width: 200px;">
            </form>
          </form>
          </div>
        </div>
            
    </div>
      </nav>
      <br>
    <div>
      <div class="card-group">
        <div class="card mb-3 ms-3">
          <img src="img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Course name 1 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5> 
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
        <div class="card mb-3 ms-3">
          <img src="img/2.jpg" class="card-img-top" style="max-height: 317px;">
          <div class="card-body">
            <h5 class="card-title">Course name 2 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5>
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
        <div class="card mb-3 me-3 ms-3">
          <img src="img/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Course name 3 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5>
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
      </div>
      <div class="card-group">
        <div class="card mb-3 ms-3">
          <img src="img/1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Course name 4 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5>
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
        <div class="card mb-3 ms-3">
          <img src="img/2.jpg" class="card-img-top" style="max-height: 317px;">
          <div class="card-body">
            <h5 class="card-title">Course name 5 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5>
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
        <div class="card ms-3 mb-3 me-3">
          <img src="img/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Course name 6 <i class="bi bi-star-fill" style="margin-left: 250px;">4.5</i></h5>
            <p class="card-text">Instructor name</p>
            <p class="card-text"><small class="text-body-secondary">Rp. 100.000</small></p>
          </div>
        </div>
      </div>
    </div>
    </div>
</body>
</html>