<div id="course">
  <div class="d-flex justify-content-between bg-light rounded user-menu">
    <a href="/my" class="menu py-3 text-center">Dashboard </a>
    <a href="/my/course" class="menu py-3 active text-center">Courses </a>
    <a href="/wishlist" class="menu py-3 text-center">Wishlist </a>
  </div>
</div>
