nav form {
  width: 400px;
}

nav form img {
  left: 15px;
  top: 5px;
}

nav form input.form-control {
  background-color: #e0e0e0;
  padding-left: 50px;
}

nav form#logout {
  width: fit-content;
}

nav .navbar-nav .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-container {
  position: absolute;
  inset: 0;
  z-index: 1050;
  display: none;
}

#profile-container.active {
  display: block;
}

#profile-container .profile-menu {
  width: 300px;
  max-width: 500px;
  margin: 3.5rem 2.5rem auto auto;
}

#profile-container .profile-menu hr {
  margin: 1rem 0;
  color: #000;
  border: 0;
  border-top: 1px solid;
  opacity: 0.5;
}

#profile-container .profile-menu .list-group-item:hover {
  background-color: #eee;
}
