<aside class="sidebar">
  <a href="/my/profile" class="text-decoration-none text-dark">
    <div class="profile">
      <img src="/img/profiles/<%= user.picture %>" alt="Profile" />
      <h6 class="fw-bold d-inline-block"><%= user.name %></h6>
    </div>
  </a>
  <ul class="list-group menu mt-4">
    <a
      href="/instructor"
      class="list-group-item list-group-item-action border-0 p-2 <%- url === '/instructor' ? 'active' : '' %>"
    >
      <img src="/img/icons/dashboard.png" />
      <h6 class="d-inline-block text-secondary">Dashboard</h6>
    </a>
    <a
      href="/instructor/courses"
      class="list-group-item list-group-item-action border-0 p-2 <%- url.startsWith('/instructor/courses') ? 'active' : '' %>"
    >
      <img src="/img/icons/course.png" />
      <h6 class="d-inline-block text-secondary">Course</h6>
    </a>
    <a
      href="/my/community"
      class="list-group-item list-group-item-action border-0 p-2"
    >
      <img src="/img/icons/community.png" />
      <h6 class="d-inline-block text-secondary">Community</h6>
    </a>
  </ul>
</aside>
