<% if (user) { %>
<div id="profile-container">
  <div class="profile-menu bg-white shadow-lg rounded">
    <a href="/my" class="text-decoration-none text-dark">
      <div class="row">
        <div class="col px-4 py-2 d-flex align-items-center">
          <img
            src="/img/profiles/<%- user.picture %>"
            alt="User"
            class="rounded-circle"
            style="width: 50px; height: 50px"
          />
          <div class="d-inline-block mx-2">
            <h4 class="my-1"><%- user.name %></h4>
            <h6 class="text-secondary fw-normal my-0"><%- user.email %></h6>
          </div>
        </div>
      </div>
    </a>

    <hr class="my-1" />
    <ul class="list-group">
      <a class="list-group-item border-0" href="/my/profile">Edit Profile</a>
      <% if (user.isInstructor) { %>
      <a class="list-group-item border-0" href="/instructor">
        Instructor Dashboard
      </a>
      <% } else { %>
      <a class="list-group-item border-0" href="/instructor/register">
        Become an instructor
      </a>
      <% } %>
      <a class="list-group-item border-0" href="#">Setting</a>
      <a class="list-group-item border-0" href="#">Help</a>
      <button
        type="submit"
        id="logout-btn"
        class="list-group-item border-0 text-start"
      >
        Log Out
      </button>
    </ul>
  </div>
</div>
<% } %>
