<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <form class="d-flex mx-auto position-relative" role="search">
    <img
      src="/img/icons/search.png"
      width="21"
      height="26"
      class="position-absolute"
    />
    <input
      class="form-control rounded-pill me-2"
      type="search"
      placeholder="Search anything to learn"
      aria-label="Search"
    />
  </form>

  <div class="ms-auto d-flex">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart"
          ><img
            src="/img/icons/cart.png"
            alt="Cart"
            style="width: 26.26px; height: 30px"
        /></a>
      </li>
    </ul>
    <form action="/logout" method="POST" id="logout" class="d-inline">
      <button type="submit" class="nav-link">Logout</button>
    </form>
  </div>
</div>
