<section id="faq">
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-light text-center display-1 fw-bold">FAQ</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form class="d-flex mx-auto position-relative search" role="search">
            <img
              src="/img/icons/search.png"
              width="21"
              height="26"
              class="position-absolute"
            />
            <input
              class="form-control rounded-pill ps-5"
              type="search"
              placeholder="Type your question"
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </div>
  </header>
  <main class="container-fluid">
    <div class="row p-5">
      <div class="col-3">
        <div class="card text-center">
          <div
            class="card-img-top"
            style="background-image: url(/img/faq/account.jpg)"
          ></div>
          <div class="card-body px-5">
            <h5 class="card-title">Account</h5>
            <p class="card-text">Learn more about how to manage your account</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-center">
          <div
            class="card-img-top"
            style="background-image: url(/img/faq/guide.jpeg)"
          ></div>
          <div class="card-body px-5">
            <h5 class="card-title">Guide</h5>
            <p class="card-text">Browse our guides to help you get started</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-center">
          <div
            class="card-img-top"
            style="background-image: url(/img/faq/class.jpeg)"
          ></div>
          <div class="card-body px-5">
            <h5 class="card-title">Class</h5>
            <p class="card-text">Explore more about our classes</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card text-center">
          <div
            class="card-img-top"
            style="background-image: url(/img/faq/payment.jpeg)"
          ></div>
          <div class="card-body px-5">
            <h5 class="card-title">Payment</h5>
            <p class="card-text">
              Find Answer to frequently asked payment questions
            </p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
