<div class="container" style="background-color: #0f1c12; height: 300px">
  <div class="row">
    <div class="col col-12">
      <div class="text-center" style="color: white">FAQ</div>

      <div class="box">
        <form class="form-inline mx-5 my-2">
          <div class="input-group rounded-pill">
            <input
              class="form-control rounded-pill shadow-none"
              type="search"
              placeholder="Type your question"
              aria-label="Search"
            />
            <div class="ikon"><img src="/img/search.png" /></div>
          </div>
          <div
            class="container"
            style="
              background-color: #d8d8d8;
              padding-top: 40px;
              padding-bottom: 40px;
            "
          >
            <div class="row">
              <div class="col-3">
                <div class="card rounded-0">
                  <img
                    src="/img/Warna abu.jpeg"
                    class="card-img-top rounded-0"
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center fs-4">Account</h5>
                    <p class="card-text text-center fs-6 text fw-normal">
                      Learn more about how to manage your account
                    </p>
                    <button
                      type="button"
                      class="btn btn-primary custom-btn rounded-0 mx-5"
                    >
                      Learn More
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card rounded-0">
                  <img
                    src="/img/guide.jpeg"
                    class="card-img-top rounded-0"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center fs-4">Guide</h5>
                    <p class="card-text text-center fs-6 text fw-normal">
                      Browse our guides to help you get started
                    </p>
                    <button
                      type="button"
                      class="btn btn-primary custom-btn rounded-0 mx-5"
                    >
                      Learn More
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card rounded-0">
                  <img
                    src="/img/class.jpeg"
                    class="card-img-top rounded-0"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center fs-4">Class</h5>
                    <p class="card-text text-center fs-6 text fw-normal">
                      Explore more about our classes &nbsp;
                    </p>
                    <button
                      type="button"
                      class="btn btn-primary custom-btn rounded-0 mx-5"
                    >
                      Learn More
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card rounded-0">
                  <img
                    src="/img/payment.jpeg"
                    class="card-img-top rounded-0"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center fs-4">Payment</h5>
                    <p class="card-text text-center fs-6 text fw-normal">
                      Find answer to frequently asked payment question &nbsp;
                    </p>
                    <button
                      type="button"
                      class="btn btn-primary custom-btn rounded-0 mx-5"
                    >
                      Learn More
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
