
<div class="landing-page">
  <div class="landing-page-child"></div>
  <div class="landing-page-item"></div>
  <img
    class="landing-page-inner"
    alt="LearNTeach"
    src="/img/learn.jpg"
  />

  <div class="group-parent">
    <a href="/auth/login" class="btn btn-success btn-lg m-2">Login</a>
  </div>
  <div class="lorem-ipsum-dolor">
    Lorem ipsum dolor sit amet 
    consectetur. Sed arcu malesuada nulla
    vivamus. Lobortis magna.
  </div>
  <b class="find-your-english">Find your English Skills Here</b>
  <div class="helo-welcome-to">Hello, Welcome to Our Company</div>
  <img class="instagram-icon" alt="LearNTeach" src="/img/ig.png" />

  <img class="twitter-icon" alt="LearNTeach" src="/img/twt.png" />

  <div class="learnteach">@LearNTeach</div>
  <div class="learnteach1">@LearNTeach</div>
  <div class="learnteach2">@LearNTeach</div>
  <img class="facebook-icon" alt="LearNTeach" src="/img/fc.png" />

  <div class="get-starter-parent">
    <a href="/auth/register" class="btn btn-success btn-lg m-2">Sign Up</a>
  </div>
  <div class="rectangle-div"></div>
  <div class="lorem-ipsum-dolor-container">
          Lorem ipsum dolor sit amet consectetur. Pellentesque neque 
          nec risus quam. Arcu odio augue egestas ut nisl. Facilisis 
          semper luctus nulla arcu vitae velit diam. Imperdiet justo 
          mauris adipiscing FITUR PREMIUM commodo massa.
          Urna velit integer dui in nibh risus scelerisque tristique. 
          Tristique quis tellus justo suscipit ultrices ac. Nunc tempor 
          venenatis aliquet pretium parturient commodo arcu. Diam 
          auctor odio sollicitudin elit cras luctus viverra nunc eu. Vitae.
  </div>
  <div class="learnteach-community-parent">
    <a href="/" class="learnteach-community">LearNTeach Community</a>
    <div class="group-child"></div>
  </div>
  <b class="latest-updates">Latest Updates</b>
  <b class="our-courses">Our Courses</b>
  <b class="course-statistics">Course Statistics</b>
  <div class="rectangle-parent">
    <div class="group-item"></div>
    <div class="toefl-test">TOEFL Test</div>
    <div class="lorem-ipsum-dolor2">
      Lorem ipsum dolor sit amet malesuada
    </div>
    <div class="rectangle-group">
      <div class="group-inner"></div>
      <a href="/" class="learn-more">Learn More</a>
    </div>
  </div>
  <div class="rectangle-container">
    <div class="group-item"></div>
    <div class="nouns">Nouns</div>
    <div class="lorem-ipsum-dolor2">Lorem ipsum dolor sit imperdiet</div>
    <div class="rectangle-group">
      <div class="group-inner"></div>
      <a href="/" class="learn-more">Learn More</a>
    </div>
  </div>
  <div class="rectangle-parent1">
    <div class="group-child3"></div>
    <img class="rectangle-icon" alt="LearNTeach" src="/img/comu.jpg" />

    <div class="english-communication">English Communication</div>
    <div class="lorem-ipsum-dolor4">
      Lorem ipsum dolor sit amet tristique
    </div>
    <div class="rectangle-parent2">
      <div class="group-child4"></div>
      <a href="/" class="learn-more">Learn More</a>
    </div>
  </div>
  <div class="rectangle-parent3">
    <div class="group-item"></div>
    <div class="name-of-class">Name of Class</div>
  </div>
  <div class="rectangle-parent4">
    <div class="group-item"></div>
    <div class="name-of-class1">Name of Class</div>
  </div>
  <div class="rectangle-parent5">
    <div class="group-item"></div>
    <div class="name-of-class2">Name of Class</div>
    <div class="rectangle-parent6">
      <div class="group-child4"></div>
      <a href="/" class="learn-more">Learn More</a>
    </div>
    <div class="intructure">Intructure</div>
  </div>
  <div class="rectangle-parent7">
    <div class="group-item"></div>
    <div class="name-of-class2">Name of Class</div>
  </div>
  <div class="stay-connect-with">Stay connect with us</div>
  <div class="explore-our-wide">
    Explore our wide range of English courses
  </div>
  <div class="landing-page-child1"></div>
  <div class="landing-page-child2"></div>
  <div class="landing-page-child3"></div>
  <div class="number-of-students">Number of Students</div>
  <div class="course-completion-rate">Course Completion Rate</div>
  <div class="average-rating">Average Rating</div>
  <div class="div">10,000+</div>
  <div class="div1">90%</div>
  <div class="div2">4.8</div>
  <div class="compared-to-last">+5% compared to last month</div>
  <div class="compared-to-last1">+10% compared to last month</div>
  <div class="compared-to-last2">+0.2 compared to last month</div>
  <img
    class="landing-page-child4"
    alt="LearNTeach"
    src="/img/Nouns.jpg"
  />

  <img
    class="landing-page-child5"
    alt="LearNTeach"
    src="/img/toefl.jpg"
  />

  <img
    class="landing-page-child6"
    alt="LearNTeach"
    src="/img/1.jpg"
  />

  <img
    class="landing-page-child7"
    alt="LearNTeach"
    src="/img/2.jpg"
  />

  <img
    class="landing-page-child8"
    alt="LearNTeach"
    src="/img/3.jpg"
  />

  <img
    class="landing-page-child9"
    alt="L"
    src="/img/4.jpg"
  />

  <div class="rp-200000">Rp. 200.000</div>
  <div class="rp-170000">Rp. 170.000</div>
  <div class="star-parent">
    <img class="star-icon" alt="LearNTeach" src="/img/star.png" />

    <div class="div3">4.5</div>
  </div>
  <div class="star-group">
    <img class="star-icon" alt="LearNTeach" src="/img/star.png" />

    <div class="div3">4.6</div>
  </div>
  <div class="intructure1">Intructure</div>
  <div class="intructure2">Intructure</div>
  <div class="intructure3">Intructure</div>
  <div class="rectangle-parent8">
    <div class="group-child4"></div>
    <a href="/" class="learn-more">Learn More</a>
  </div>
  <div class="rectangle-parent9">
    <div class="group-child4"></div>
    <a href="/" class="learn-more">Learn More</a>
  </div>
  <div class="rectangle-parent10">
    <div class="group-child4"></div>
    <a href="/" class="learn-more">Learn More</a>
  </div>
  <div class="rp-150000-parent">
    <div class="rp-150000">Rp. 150.000</div>
    <div class="star-container">
      <img class="star-icon" alt="LearNTeach" src="/img/star.png" />

      <div class="div3">4.3</div>
    </div>
  </div>
  <div class="rp-250000-parent">
    <div class="rp-150000">Rp. 250.000</div>
    <div class="star-container">
      <img class="star-icon" alt="LearNTeach" src="/img/star.png" />

      <div class="div3">4.8</div>
    </div>
  </div>
</div>