<nav class="navbar navbar-expand-lg bg-light shadow-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/img/logo2.png" alt="LearNteach" width="200" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mx-auto position-relative" role="search">
        <img
          src="/img/search.png"
          width="21"
          height="26"
          class="position-absolute"
        />
        <input
          class="form-control rounded-pill me-2"
          type="search"
          placeholder="Search anything to learn"
          aria-label="Search"
        />
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
